html
{
  background-color:black;
  color:white;
  font-size:18px;
        border-style:solid;
        border-color:white;
	height:calc(100vh - 25px);
	width:calc(100vw - 25px);
	display:flex;
}
button
{
	background-color:black;
	color:white;
	font-size:18px;
	border:solid;
	border-color:white;
}
.titleDiv
{
	top:0px;
	left:0px;
	width:calc(100vw - 40px);
	height:100px;
	flex-basis:100%;
        border-bottom-style: solid;
        border-bottom-color: white;
}
.optionsDiv
{
	flex:right;
	top:50px;
	right:0px;
	width:250px;
	hight:calc(100vh - 165px);
        border-left-style: solid;
        border-left-color:white;
}
.MainContent
{
	overflow-y:scroll;
	flex-basis:100%;
	width:100%;
	height:calc(100vh - 165px);
}

.ActionButton
{
	flex-grow:1;
	flex-shrink: 1;
	width:50%;
        max-width:50%;
	height:40px;
	min-height:40px;
	max-height:40px;
}
