html
{
  background-color:black;
  color:white;
  font-size:18px;
	height:calc(100vh - 10px);
	width:calc(100vw - 35px);
	display:flex;
}
button
{
	background-color:black;
	color:white;
	font-size:18px;
	border:solid;
	border-color:white;
}
.titleDiv
{
	top:0px;
	left:0px;
	width:calc(100vw - 35px);
	height:100px;
	flex-basis:100%;
	
	background-color:red;
}
.optionsDiv
{
	flex:right;
	top:50px;
	right:0px;
	width:200px;
	hight:calc(100vh - 100px);
	overflow-y:scroll;
	
	background-color:blue;
}
.MainContent
{
	overflow-y:scroll;
	flex-basis:100%;
	width:100%;
	height:calc(100vh - 100px);
}
