html
{
  background-color:black;
  color:white;
  font-size:18px;
	height:calc(100vh - 25px);
	width:calc(100vw - 35px);
	display:flex;
}
button
{
	background-color:black;
	color:white;
	font-size:18px;
	border:solid;
	border-color:white;
}
.titleDiv
{
	top:0px;
	left:0px;
	width:calc(100vw - 35px);
	height:100px;
	flex-basis:100%;
        border-bottom-style: solid;
        border-bottom-color: white;
}
.optionsDiv
{
	flex:right;
	top:50px;
	right:0px;
	width:200px;
	hight:calc(100vh - 125px);
	overflow-y:scroll;
        border-left-style: solid;
        border-left-color:white;
}
.MainContent
{
	overflow-y:scroll;
	flex-basis:100%;
	width:100%;
	height:calc(100vh - 125px);
}
